<a href="https://colab.research.google.com/github/prog815/coursera-python-for-data-science/blob/master/4_prep_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Подготовка данных

ручками проходим примеры https://www.coursera.org/learn/python-for-data-science/home/week/1

## 4.1 Знакомство с библиотекой pandas

In [0]:
import pandas as pd

## 4.2 Объект pandas.Series

In [2]:
pd.Series([1,2,3,4,5],index=[-1,-2,-3,-4,-5])

-1    1
-2    2
-3    3
-4    4
-5    5
dtype: int64

In [0]:
d = {'Moscow': 1000, 'London': 300, 'Barcelona': None}
cities = pd.Series(d)

In [4]:
cities

Moscow       1000.0
London        300.0
Barcelona       NaN
dtype: float64

In [5]:
cities[['Moscow','London']]

Moscow    1000.0
London     300.0
dtype: float64

In [6]:
cities[ cities < 1000]

London    300.0
dtype: float64

In [0]:
cities[ cities < 1000] = 3

In [8]:
cities

Moscow       1000.0
London          3.0
Barcelona       NaN
dtype: float64

In [9]:
cities*3

Moscow       3000.0
London          9.0
Barcelona       NaN
dtype: float64

In [10]:
cities[ cities.isnull()]

Barcelona   NaN
dtype: float64

## 4.3 Объект pandas.DataFrame

In [0]:
import pandas as pd
import numpy as np

In [12]:
! wget https://s3.amazonaws.com/tripdata/201306-citibike-tripdata.zip -O citibike.zip

--2019-09-06 14:45:28--  https://s3.amazonaws.com/tripdata/201306-citibike-tripdata.zip
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.207.213
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.207.213|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16785103 (16M) [application/zip]
Saving to: ‘citibike.zip’

citibike.zip        100%[===================>]  16.01M  98.9MB/s    in 0.2s

2019-09-06 14:45:29 (98.9 MB/s) - ‘citibike.zip’ saved [16785103/16785103]

In [13]:
! unzip citibike.zip

Archive:  citibike.zip
  inflating: 201306-citibike-tripdata.csv
   creating: __MACOSX/
  inflating: __MACOSX/._201306-citibike-tripdata.csv

In [0]:
df = pd.read_csv('201306-citibike-tripdata.csv')

In [15]:
df.shape

(577703, 15)

In [16]:
df.head(3)

   tripduration            starttime  ... birth year  gender
0           695  2013-06-01 00:00:01  ...     1983.0       1
1           693  2013-06-01 00:00:08  ...     1984.0       1
2          2059  2013-06-01 00:00:44  ...        NaN       0

[3 rows x 15 columns]

In [17]:
df.tail(10)

        tripduration            starttime  ... birth year  gender
577693          1059  2013-06-30 23:58:41  ...        NaN       0
577694          1628  2013-06-30 23:58:46  ...        NaN       0
577695         81406  2013-06-30 23:58:45  ...        NaN       0
577696          1397  2013-06-30 23:59:16  ...        NaN       0
577697         81724  2013-06-30 23:59:18  ...        NaN       0
577698           925  2013-06-30 23:59:27  ...     1964.0       1
577699           279  2013-06-30 23:59:36  ...        NaN       0
577700           161  2013-06-30 23:59:33  ...     1972.0       2
577701           909  2013-06-30 23:59:47  ...        NaN       0
577702           634  2013-07-01 00:00:00  ...        NaN       0

[10 rows x 15 columns]

In [18]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [19]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [20]:
df[['tripduration','bikeid']].head()

   tripduration  bikeid
0           695   19678
1           693   16649
2          2059   19599
3           123   16352
4          1521   15567

In [21]:
df.iloc[-1]

tripduration                               634
starttime                  2013-07-01 00:00:00
stoptime                   2013-07-01 00:10:34
start station id                           164
start station name             E 47 St & 2 Ave
start station latitude                 40.7532
start station longitude               -73.9703
end station id                             504
end station name               1 Ave & E 16 St
end station latitude                   40.7322
end station longitude                 -73.9817
bikeid                                   16950
usertype                              Customer
birth year                                 NaN
gender                                       0
Name: 577702, dtype: object

In [22]:
df.iloc[-1,-3]

'Customer'

In [23]:
df.iloc[:3,:4]

   tripduration            starttime             stoptime  start station id
0           695  2013-06-01 00:00:01  2013-06-01 00:11:36               444
1           693  2013-06-01 00:00:08  2013-06-01 00:11:41               444
2          2059  2013-06-01 00:00:44  2013-06-01 00:35:03               406

In [24]:
df.loc[:3,'gender']

0    1
1    1
2    0
3    1
Name: gender, dtype: int64

In [26]:
df['gender'].unique()

array([1, 0, 2])

In [28]:
df.describe(include=[np.object])

                  starttime             stoptime  ...  end station name    usertype
count                577703               577703  ...            559644      577703
unique               475295               475805  ...               337           2
top     2013-06-27 17:13:56  2013-06-26 18:44:55  ...  W 20 St & 11 Ave  Subscriber
freq                      7                    7  ...              5742      337384

[4 rows x 5 columns]

In [30]:
df['usertype'].value_counts(normalize=True)

Subscriber    0.584009
Customer      0.415991
Name: usertype, dtype: float64

In [31]:
df.corr()

                         tripduration  start station id  ...  birth year    gender
tripduration                 1.000000          0.005154  ...   -0.009432 -0.028804
start station id             0.005154          1.000000  ...    0.000443 -0.032502
start station latitude      -0.003108          0.153313  ...   -0.036979  0.004388
start station longitude      0.000777          0.163074  ...    0.033057  0.027751
end station id               0.006232          0.092344  ...    0.000086 -0.036685
end station latitude         0.000624          0.070366  ...   -0.041142 -0.000794
end station longitude        0.007520          0.068674  ...    0.034632  0.018772
bikeid                      -0.000511         -0.001722  ...    0.000064 -0.001339
birth year                  -0.009432          0.000443  ...    1.000000  0.034171
gender                      -0.028804         -0.032502  ...    0.034171  1.000000

[10 rows x 10 columns]